assets
build
docs
.DS_Store
.github
node_modules
/dist
test/tracer
npm-debug.log
*.ROM
*.PP
*.bin
*.pdf
.nyc_output
coverage
rootCA.*
server.csr
server.key
server.crt
/romassets/soundripper/tmp
assets/soundripper/output.*
.clinic
docs/rom
cert.pem
/fuzz